.navbar {
  background-color: #190101;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* From https://css.glass */
  background: rgba(7, 0, 0, 0.39);
  box-shadow: 0 4px 290px rgba(36, 158, 245, 0.863);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(7, 0, 0, 0.11);
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  border: 0.01px solid rgba(241, 236, 236, 0.557);
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.8rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}
